# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/vite.config_20230418200005.js
.history/vite.config_20230418203939.js
.history/vite.config_20230418204517.js
.history/vite.config_20230418205356.js
.history/src/components/main/description_20230418200005.vue
.history/src/components/main/description_20230419153238.vue
.history/src/components/main/description_20230419153535.vue
.history/src/components/main/description_20230419153744.vue
.history/src/components/main/description_20230419153921.vue
.history/src/components/main/description_20230419154008.vue
.history/src/components/main/description_20230419154101.vue
.history/src/components/main/description_20230419154144.vue
.history/src/components/main/description_20230419154649.vue
.history/src/components/main/description_20230419154737.vue
.history/src/components/main/description_20230419154903.vue
.history/src/components/main/description_20230419154950.vue
.history/src/components/main/description_20230419162656.vue
.history/src/components/main/description_20230419163719.vue
.history/src/components/main/description_20230419164036.vue
.history/src/components/main/description_20230419164333.vue
.history/src/components/main/description_20230419164512.vue
.history/src/components/main/description_20230419164737.vue
.history/src/components/main/description_20230419164845.vue
.history/src/components/main/description_20230419164915.vue
.history/src/components/main/description_20230419165413.vue
.history/src/components/main/description_20230419165634.vue
.history/src/components/main/description_20230419165851.vue
.history/src/components/main/description_20230419165943.vue
.history/src/components/main/description_20230419170213.vue
.history/src/components/main/description_20230419170255.vue
.history/src/components/main/description_20230419170459.vue
.history/src/components/main/description_20230419185945.vue
.history/src/components/main/description_20230419190101.vue
.history/src/components/main/description_20230419190124.vue
.history/src/components/main/description_20230419190153.vue
.history/src/components/main/description_20230419190312.vue
.history/src/components/main/description_20230419190357.vue
.history/src/components/main/description_20230419190450.vue
.history/src/components/main/description_20230419190556.vue
.history/src/components/main/description_20230419190654.vue
.history/src/components/main/description_20230419190721.vue
.history/src/components/main/description_20230419190759.vue
.history/src/components/main/description_20230419190845.vue
.history/src/components/main/description_20230419190902.vue
.history/src/components/main/description_20230419190943.vue
.history/src/components/main/description_20230419191009.vue
.history/src/components/main/description_20230419191031.vue
.history/.gitignore_20230418200005
.history/.gitignore_20230419191112
